<form [formGroup]="bcKeyVerifyForm">
    <h4 class="title">{{ 'BLOCKCHAIN.TITLE.BLOCKCHAIN_KEY_VERIFICATION' | translate }}</h4>
    <p class="sub-title">{{ 'BLOCKCHAIN.BC_KEY.LABEL.FORM_HEADER_MESSAGE' | translate }}</p>

    <div class="form-inner-container">
        <div class="form-holder floating">
            <input id="bcKey" nbInput fullWidth type="text" [placeholder]="'*' + ('BLOCKCHAIN.BC_KEY.PLACEHOLDER.BLOCKCHAIN_KEY' | translate)" formControlName="bcKey" [ngClass]="{ 'status-danger': submitted && UF['bcKey'].errors }" />
            <label for="bcKey" [attr.data-content]="'*' + ('BLOCKCHAIN.BC_KEY.LABEL.BLOCKCHAIN_KEY' | translate)"></label>
            <div *ngIf="submitted && UF['bcKey'].errors as err" class="invalid-feedback">
                <span *ngIf="err['required']">{{ 'BLOCKCHAIN.BC_KEY.VALIDATIONS.BLOCKCHAIN_KEY' | translate }}</span>
            </div>
        </div>
    </div>
    <div class="action-holder">
        <button nbButton hero status="primary" (click)="verifyBcKey(bcKeyVerifyForm)">
            {{ 'BLOCKCHAIN.BC_KEY.BUTTON.VERIFY' | translate }}
        </button>
    </div>
</form>
