<nb-card-body>
    <ng-container *ngIf="modelVersionBcDetails">
        <div class="grid-row">
            <div>&nbsp;</div>
            <div class="col-2-2">
                <strong> {{ 'MANAGE_PROJECTS.COMMON.LABEL.SUBMITTED_DATA' | translate }}</strong>
            </div>
            <div class="col-3-3">
                <strong>{{ 'MANAGE_PROJECTS.COMMON.LABEL.ORACLE_DATA' | translate }}</strong>
            </div>
            <div class="col-4-4">
                <strong> {{ 'MANAGE_PROJECTS.COMMON.LABEL.STATUS' | translate }}</strong>
            </div>
            <div class="col-1-1">
                <strong>{{ 'MANAGE_PROJECTS.VERSION.LABEL.LOG_FILE_BC_HASH' | translate }}</strong>
            </div>
            <div class="col-2-2">
                <span> {{ modelVersionBcDetails.logFileBCHash }}</span>
            </div>
            <div class="col-3-3" [nbSpinner]="logFileLoading" nbSpinnerSize="tiny" nbSpinnerStatus="primary">
                <span> {{ logFileOracleBCHash }}</span>
            </div>

            <div class="col-4-4" [nbSpinner]="logFileLoading" nbSpinnerSize="tiny" nbSpinnerStatus="success">
                <span *ngIf="modelVersionBcDetails?.logFileBCHash === logFileOracleBCHash; else unVerifiedLogData" class="verified">
                    <span *ngIf="logFileOracleBCHash"> {{ 'MANAGE_PROJECTS.COMMON.LABEL.VERIFIED' | translate }} </span>
                </span>

                <ng-template #unVerifiedLogData>
                    <ng-container *ngIf="logFileOracleBCHash">
                        <span class="un-verified"> {{ 'MANAGE_PROJECTS.COMMON.LABEL.UNVERIFIED' | translate }} </span>
                    </ng-container>
                </ng-template>
            </div>
            <div class="col-1-1">
                <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.TEST_DATA_SETS_BC_HASH' | translate }} </strong>
            </div>
            <div class="col-2-2">
                <span> {{ modelVersionBcDetails.testDatasetBCHash }}</span>
            </div>
            <div class="col-3-3" [nbSpinner]="testDataLoading" nbSpinnerSize="tiny" nbSpinnerStatus="primary">
                <span> {{ testDataOracleBcHash }}</span>
            </div>

            <div class="col-4-4" [nbSpinner]="testDataLoading" nbSpinnerSize="tiny" nbSpinnerStatus="success">
                <span *ngIf="modelVersionBcDetails?.testDatasetBCHash === testDataOracleBcHash; else unVerifiedTestData" class="verified">
                    <span *ngIf="testDataOracleBcHash"> {{ 'MANAGE_PROJECTS.COMMON.LABEL.VERIFIED' | translate }} </span>
                </span>

                <ng-template #unVerifiedTestData>
                    <ng-container *ngIf="testDataOracleBcHash">
                        <span class="un-verified"> {{ 'MANAGE_PROJECTS.COMMON.LABEL.UNVERIFIED' | translate }} </span>
                    </ng-container>
                </ng-template>
            </div>

            <div class="col-1-1">
                <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.TRAIN_DATA_SETS_BC_HASH' | translate }} </strong>
            </div>
            <div class="col-2-2">
                <span> {{ modelVersionBcDetails.trainDatasetBCHash }}</span>
            </div>
            <div class="col-3-3" [nbSpinner]="trainDataLoading" nbSpinnerSize="tiny" nbSpinnerStatus="primary">
                <span> {{ trainDataOracleBcHash }}</span>
            </div>

            <div class="col-4-4" [nbSpinner]="trainDataLoading" nbSpinnerSize="tiny" nbSpinnerStatus="success">
                <span *ngIf="modelVersionBcDetails?.trainDatasetBCHash === trainDataOracleBcHash; else unVerifiedTrainData" class="verified">
                    <span *ngIf="trainDataOracleBcHash"> {{ 'MANAGE_PROJECTS.COMMON.LABEL.VERIFIED' | translate }} </span>
                </span>
                <ng-template #unVerifiedTrainData>
                    <ng-container *ngIf="trainDataOracleBcHash">
                        <span class="un-verified"> {{ 'MANAGE_PROJECTS.COMMON.LABEL.UNVERIFIED' | translate }} </span>
                    </ng-container>
                </ng-template>
            </div>

            <div class="col-1-1">
                <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.AI_MODEL_BC_HASH' | translate }} </strong>
            </div>
            <div class="col-2-2">
                <span> {{ modelVersionBcDetails.aiModelBCHash }}</span>
            </div>
            <div class="col-3-3" [nbSpinner]="aiModelLoading" nbSpinnerSize="tiny" nbSpinnerStatus="primary">
                <span> {{ aiModelOracleBcHash }}</span>
            </div>

            <div class="col-4-4" [nbSpinner]="aiModelLoading" nbSpinnerSize="tiny" nbSpinnerStatus="success">
                <span *ngIf="modelVersionBcDetails?.aiModelBCHash === aiModelOracleBcHash; else unVerifiedAIModel" class="verified">
                    <span *ngIf="aiModelOracleBcHash"> {{ 'MANAGE_PROJECTS.COMMON.LABEL.VERIFIED' | translate }} </span>
                </span>

                <ng-template #unVerifiedAIModel>
                    <ng-container *ngIf="aiModelOracleBcHash">
                        <span class="un-verified"> {{ 'MANAGE_PROJECTS.COMMON.LABEL.UNVERIFIED' | translate }} </span>
                    </ng-container>
                </ng-template>
            </div>
        </div>
    </ng-container>
    <div *ngIf="!dataFound && loading">
        <app-loader></app-loader>
    </div>
</nb-card-body>
