h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $headings-font-weight;
    margin-bottom: $heading-margin-bottom;

    small {
        color: $sub-title-text-color;
        font-size: 80%;
        font-weight: $subtitle-font-weight;
    }
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}
