<nb-card class="medium-card-width" *ngIf="showOrganizationDetail" status="info">
    <nb-card-header>
        {{ 'ORGANIZATION_DETAILS.TITLE.ORG_DETAIL' | translate }}
        <button nbButton ghost *ngIf="showOrganizationEditButton" (click)="editOrganizationDetails(organization._id)">
            <nb-icon icon="edit-outline"></nb-icon>
        </button>
    </nb-card-header>
    <nb-card-body *ngIf="organization">
        <div class="detail-row" *ngIf="organization.companyLogo">
            <div class="c-col centered">
                <div class="image-holder">
                    <img [src]="imageBaseUrl + organization.companyLogo" [alt]="organization.companyName" />
                </div>
            </div>
        </div>
        <div class="detail-row">
            <b>{{ 'COMMON.LABEL.NAME' | translate }}: </b>
            <span>
                <app-blockchain-verified [blockName]="organization.companyName" [blockchainVerified]="organization.blockchainVerified"></app-blockchain-verified>
            </span>
        </div>
        <div class="detail-row">
            <b>{{ 'COMMON.LABEL.COUNTRY' | translate }}: </b> <span>{{ organization.countryName || 'N/a' }}</span>
        </div>
        <div class="detail-row">
            <b>{{ 'COMMON.LABEL.STATE' | translate }}: </b> <span>{{ organization.stateName || 'N/a' }}</span>
        </div>
        <div class="detail-row">
            <b>{{ 'COMMON.LABEL.CITY' | translate }}: </b> <span>{{ organization.city || 'N/a' }}</span>
        </div>
        <div class="detail-row">
            <b>{{ 'COMMON.LABEL.ADDRESS' | translate }}: </b> <span>{{ organization.address || 'N/a' }}</span>
        </div>
        <div class="detail-row">
            <b>{{ 'COMMON.LABEL.ZIP_CODE' | translate }}: </b> <span>{{ organization.zipCode || 'N/a' }}</span>
        </div>
        <div class="unit-container" *ngFor="let unit of organizationUnitDetailList">
            <div class="detail-row">
                <b>{{ 'ORGANIZATION_DETAILS.LABEL.UNIT_NAME' | translate }}: </b> <span>{{ unit?.orgUnit || 'N/a' }}</span> (<small [nbTooltip]="'ORGANIZATION_DETAILS.LABEL.STAFFING_NAME' | translate">{{ unit?.staffingUnit?.join(', ') || 'N/a' }}</small
                >)
            </div>
        </div>
    </nb-card-body>
</nb-card>
