<nb-card class="medium-card-width" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="">
    <nb-card-header>
        <section class="dialog-head">
            <h6>{{ 'CHANGE_PASSWORD.TITLE.CHANGE_PASSWORD' | translate }}</h6>
        </section>
        <div class="close-dialog">
            <button nbButton class="icon" (click)="closeModal()">
                <nb-icon icon="close-circle-outline"></nb-icon>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="changePasswordFormGroup">
            <p class="sub-title">{{ 'CHANGE_PASSWORD.DESCRIPTION.PLEASE_ENTER_YOUR_CURRENT_PASSWORD' | translate }}</p>
            <div class="form-inner-container two-col">
                <div class="form-holder floating">
                    <input id="currentPassword" nbInput fullWidth type="password" [placeholder]="'CHANGE_PASSWORD.PLACEHOLDER.CURRENT_PASSWORD' | translate" formControlName="currentPassword" [ngClass]="{ 'status-danger': submitted && UF.currentPassword.errors }" />
                    <label for="currentPassword" [attr.data-content]="'CHANGE_PASSWORD.LABEL.CURRENT_PASSWORD' | translate"></label>

                    <div *ngIf="submitted && UF.currentPassword.errors as err" class="invalid-feedback">
                        <span *ngIf="err.required">{{ 'COMMON.VALIDATIONS.PASSWORD_IS_REQUIRED' | translate }}</span>
                        <span *ngIf="!err.required && err.minlength">{{ 'COMMON.VALIDATIONS.PASSWORD_MIN_LENGTH' | translate: { minPasswordLength: err.minlength.requiredLength } }}</span>
                    </div>
                </div>
            </div>
            <div class="form-inner-container two-col">
                <div class="form-holder floating">
                    <input id="password" nbInput fullWidth type="password" [placeholder]="'COMMON.PLACEHOLDER.NEW_PASSWORD' | translate" formControlName="password" [ngClass]="{ 'status-danger': submitted && UF.password.errors }" />
                    <label for="password" [attr.data-content]="'COMMON.LABEL.NEW_PASSWORD' | translate"></label>

                    <div *ngIf="submitted && UF.password.errors as err" class="invalid-feedback">
                        <span *ngIf="err.required">{{ 'COMMON.VALIDATIONS.NEW_PASSWORD_IS_REQUIRED' | translate }}</span>
                        <span *ngIf="!err.required && err.minlength">{{ 'COMMON.VALIDATIONS.NEW_PASSWORD_MIN_LENGTH' | translate: { minPasswordLength: err.minlength.requiredLength } }}</span>
                    </div>
                </div>
            </div>
            <div class="form-inner-container two-col">
                <div class="form-holder floating">
                    <input id="confirmPassword" nbInput fullWidth type="password" [placeholder]="'COMMON.PLACEHOLDER.CONFIRM_PASSWORD' | translate" formControlName="confirmPassword" [ngClass]="{ 'status-danger': submitted && (UF.confirmPassword.errors || passwordDoNotMatch) }" />
                    <label for="confirmPassword" [attr.data-content]="'COMMON.LABEL.CONFIRM_PASSWORD' | translate"></label>
                    <div *ngIf="submitted && UF.confirmPassword.errors as err" class="invalid-feedback">
                        <span *ngIf="err.required">{{ 'COMMON.VALIDATIONS.CONFIRM_PASSWORD_IS_REQUIRED' | translate }}</span>
                        <span *ngIf="!err.required && err.minlength">{{ 'COMMON.VALIDATIONS.CONFIRM_PASSWORD_MIN_LENGTH' | translate: { minPasswordLength: err.minlength.requiredLength } }}</span>
                    </div>
                    <div *ngIf="submitted && passwordDoNotMatch && !UF.confirmPassword.errors" class="invalid-feedback">
                        <span *ngIf="passwordDoNotMatch">{{ 'COMMON.VALIDATIONS.CONFIRM_PASSWORD_DOES_NOT_MATCH' | translate }}</span>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton hero status="primary" (click)="changePasswordFormSubmit(changePasswordFormGroup)">{{ 'COMMON.BUTTON.CHANGE_PASSWORD' | translate }}</button>
    </nb-card-footer>
</nb-card>
