<nb-card class="medium-card-width">
    <nb-card-header>
        <section class="dialog-head">
            <h6>{{ componentTitle ? (componentTitle | translate) : ('COMMON.DESCRIPTION.USER' | translate) }} {{ 'COMMON.DESCRIPTION.DETAIL' | translate }}</h6>
        </section>
        <div class="close-dialog">
            <button nbButton (click)="closeModel()">
                <nb-icon icon="close-circle-outline" pack="eva"> </nb-icon>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <nb-card class="medium-card-width" accent="info">
            <nb-card-header>
                <h6>{{ 'MANAGE_USERS.USERS.DESCRIPTION.PERSONAL_DETAIL' | translate }}</h6>
            </nb-card-header>
            <nb-card-body>
                <div class="detail-row">
                    <b>{{ 'COMMON.LABEL.NAME' | translate }}: </b> <app-blockchain-verified [blockName]="userDetail?.firstName + ' ' + userDetail?.lastName | titlecase" [blockchainVerified]="userDetail?.blockchainVerified"></app-blockchain-verified>
                </div>
                <div class="detail-row">
                    <b> {{ 'COMMON.LABEL.EMAIL' | translate }}: </b> <span>{{ userDetail?.email }}</span>
                </div>
                <div class="detail-row">
                    <b> {{ 'COMMON.LABEL.PHONE_NUMBER' | translate }}: </b> <span>{{ userDetail?.phone }}</span>
                </div>
                <div class="detail-row">
                    <b> {{ 'COMMON.LABEL.COUNTRY' | translate }}: </b> <span>{{ userDetail?.countryName || 'N/a' }}</span>
                </div>
                <div class="detail-row">
                    <b> {{ 'COMMON.LABEL.STATE' | translate }}: </b> <span>{{ userDetail?.stateName || 'N/a' }}</span>
                </div>
                <div class="detail-row">
                    <b> {{ 'COMMON.LABEL.CITY' | translate }}: </b> <span>{{ userDetail?.city || 'N/a' }}</span>
                </div>
                <div class="detail-row">
                    <b> {{ 'COMMON.LABEL.ADDRESS' | translate }}: </b> <span>{{ userDetail?.address || 'N/a' }}</span>
                </div>
                <div class="detail-row">
                    <b> {{ 'COMMON.LABEL.ZIP_CODE' | translate }}: </b> <span>{{ userDetail?.zipCode || 'N/a' }}</span>
                </div>
            </nb-card-body>
        </nb-card>
        <nb-card class="medium-card-width" accent="info">
            <nb-card-header>
                <h6>{{ 'MANAGE_USERS.USERS.DESCRIPTION.ORGANIZATION_DETAIL' | translate }}</h6>
            </nb-card-header>
            <nb-card-body>
                <div class="detail-row" *ngIf="organizationDetail.companyLogo">
                    <div class="c-col centered">
                        <div class="image-holder">
                            <img [src]="imageBaseUrl + organizationDetail.companyLogo" [alt]="organizationDetail.companyName" />
                        </div>
                    </div>
                </div>
                <div class="detail-row">
                    <b>{{ 'COMMON.LABEL.NAME' | translate }}: </b> <app-blockchain-verified [blockName]="organizationDetail?.companyName || 'N/a'" [blockchainVerified]="user.blockchainVerified"></app-blockchain-verified>
                </div>
                <div class="detail-row">
                    <b>{{ 'COMMON.LABEL.COUNTRY' | translate }}: </b> <span>{{ organizationDetail?.countryName || 'N/a' }}</span>
                </div>
                <div class="detail-row">
                    <b>{{ 'COMMON.LABEL.STATE' | translate }}: </b> <span>{{ organizationDetail?.stateName || 'N/a' }}</span>
                </div>
                <div class="detail-row">
                    <b>{{ 'COMMON.LABEL.CITY' | translate }}: </b> <span>{{ organizationDetail?.city || 'N/a' }}</span>
                </div>
                <div class="detail-row">
                    <b>{{ 'COMMON.LABEL.ADDRESS' | translate }}: </b> <span>{{ organizationDetail?.address || 'N/a' }}</span>
                </div>
                <div class="detail-row">
                    <b>{{ 'COMMON.LABEL.ZIP_CODE' | translate }}: </b> <span>{{ organizationDetail?.zipCode || 'N/a' }}</span>
                </div>
                <div class="unit-container" *ngFor="let unit of organizationDetail?.units">
                    <div class="detail-row">
                        <b>{{ 'ORGANIZATION_DETAILS.LABEL.UNIT_NAME' | translate }}: </b> <span>{{ unit?.orgUnit || 'N/a' }}</span> (<small [nbTooltip]="'ORGANIZATION_DETAILS.LABEL.STAFFING_NAME' | translate">{{ unit?.staffingUnit?.join(', ') || 'N/a' }}</small
                        >)
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>
