<header>
    <div class="left-section">
        <nb-actions size="small" *ngIf="!isLoggedIn">
            <nb-action>
                <!--  <div class="nopad logo-holder" (click)="navigateTo('/')">
                    <a [href]="BASE_URL">
                        <img src="/assets/images/logo/base-logo.png" [alt]="(appTitle | titlecase) + ' Logo'" [title]="(appTitle | titlecase) + ' Logo'" />
                    </a>
                </div> -->
            </nb-action>
        </nb-actions>
        <nb-actions size="small" *ngIf="isLoggedIn">
            <nb-action class="sidebar-toggle" (click)="toggleAdminSidebar()">
                <nb-icon icon="menu-outline"></nb-icon>
            </nb-action>
            <nb-action>
                <!--  <div class="logo-holder" (click)="navigateTo('/u/')">
                    <a [href]="BASE_URL + 'u'">
                        <img src="/assets/images/logo/base-logo.png" [alt]="(appTitle | titlecase) + ' Logo'" [title]="(appTitle | titlecase) + ' Logo'" />
                    </a>
                </div> -->
            </nb-action>
        </nb-actions>
    </div>
    <div class="actions" *ngIf="!isLoggedIn">
        <nb-actions size="small">
            <nb-action>
                <a href="/#/auth/login">{{ 'HEADER.MENU_ITEM.LOGIN' | translate }}</a>
            </nb-action>
            <nb-action>
                <a href="/#/auth/register">{{ 'HEADER.MENU_ITEM.REGISTER' | translate }}</a>
            </nb-action>
        </nb-actions>
    </div>
    <div class="actions" *ngIf="isLoggedIn">
        <nb-actions size="small">
            <nb-action class="user-action" *ngIf="organizationMenu && organizationMenu.length === 1" (click)="navigateTo('u/user/profile/organization-details')"> <nb-icon icon="film-outline"></nb-icon> {{ organizationName }} </nb-action>
            <nb-action class="user-action organization-dropdown" *ngIf="showOrganizationMenu" [nbContextMenu]="organizationMenu" nbContextMenuTag="organization-context-menu"> <nb-icon icon="film-outline"></nb-icon> {{ organizationName }} </nb-action>
            <nb-action class="user-action" *ngIf="userMenu.length" [nbContextMenu]="userMenu" nbContextMenuTag="userHeaderMenu">
                <nb-icon icon="person-outline"></nb-icon>
            </nb-action>
        </nb-actions>
    </div>
</header>
