<nb-card class="medium-card-width" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="">
    <nb-card-header>
        <section class="dialog-head">
            <h6>{{ 'MANAGE_USERS.ORGANIZATION_UNIT.TITLE.ADD_ORGANIZATION_UNIT' | translate }}</h6>
        </section>
        <div class="close-dialog">
            <button nbButton class="icon" (click)="closeModal()">
                <nb-icon icon="close-circle-outline"></nb-icon>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form class="form-container" [formGroup]="newOrganizationUnitForm">
            <div class="form-inner-container">
                <div class="form-holder floating">
                    <input name="unitName" nbInput fullWidth placeholder="*Unit Name" formControlName="unitName" [ngClass]="{ 'status-danger': submitted && UF.unitName.errors }" />
                    <label for="unitName" [attr.data-content]="'*' + ('MANAGE_USERS.ORGANIZATION_UNIT.LABEL.UNIT_NAME' | translate)"></label>
                    <div *ngIf="submitted && UF.unitName.errors as err" class="invalid-feedback">
                        <span *ngIf="err.required">{{ 'MANAGE_USERS.ORGANIZATION_UNIT.VALIDATIONS.UNIT_NAME_IS_REQUIRED' | translate }}</span>
                    </div>
                </div>
            </div>
            <div class="form-inner-container">
                <div class="form-holder floating">
                    <textarea name="description" nbInput fullWidth [placeholder]="'MANAGE_USERS.ORGANIZATION_UNIT.PLACEHOLDER.DESCRIPTION' | translate" formControlName="unitDescription"></textarea>
                </div>
            </div>
            <div class="form-inner-container">
                <div class="form-holder">
                    <label for="features" class="label">{{ '*' + ('MANAGE_USERS.ORGANIZATION_UNIT.LABEL.FEATURES' | translate) }}</label>
                    <nb-select multiple fullWidth [placeholder]="'MANAGE_USERS.ORGANIZATION_UNIT.PLACEHOLDER.SELECT_FEATURES' | translate" formControlName="featureListId" [ngClass]="{ 'status-danger': submitted && UF.featureListId.errors }">
                        <nb-option [value]="0" class="select-all" #allSelected (click)="toggleAllSelection()">SELECT ALL</nb-option>
                        <nb-option *ngFor="let featureRow of features" [value]="featureRow._id" (click)="togglePerOne()">{{ featureRow.feature }}</nb-option>
                    </nb-select>
                    <div *ngIf="submitted && UF.featureListId.errors as err" class="invalid-feedback">
                        <span *ngIf="err.required">{{ 'MANAGE_USERS.ORGANIZATION_UNIT.VALIDATIONS.SELECT_ATLEAST_ONE_FEATURE' | translate }}</span>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton hero status="primary" type="submit" (click)="saveNewOrganizationUnit(newOrganizationUnitForm)">{{ 'COMMON.BUTTON.SAVE' | translate }}</button>
    </nb-card-footer>
</nb-card>
