<div class="landing-holder">
    <div class="text-container">
        <h1><small>Welcome to</small> <br /><span class="highlight">Flo!</span></h1>
        <p><span class="highlight">Let's fight</span> the virus</p>
        <p>
            <b>Together we can <span class="highlight">fight and defeat</span></b>
        </p>
        <div class="actions">
            <p>Do you want to subscribe to get more info about Flo,</p>
            <a nbButton hero status="primary" href="https://caseysurvey.com" target="_blank">Subscribe</a>
        </div>
    </div>

    <div class="image-holder-lg">
        <img src="/assets/images/background/landing-background.png" alt="Landing Background" />
    </div>
</div>
