<form [formGroup]="registrationFormGroup" (ngSubmit)="executeCaptcha(registrationFormGroup, captchaRef)" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="">
    <h4 class="title">{{ 'REGISTER.TITLE' | translate }}</h4>

    <div class="form-inner-container two-col">
        <div class="form-holder floating">
            <input id="firstname" nbInput fullWidth type="text" [placeholder]="'COMMON.PLACEHOLDER.FIRST_NAME' | translate" formControlName="firstName" [ngClass]="{ 'status-danger': submitted && UF['firstName'].errors }" />
            <label for="firstname" [attr.data-content]="'*' + ('COMMON.LABEL.FIRST_NAME' | translate)"></label>
            <div *ngIf="submitted && UF['firstName'].errors as err" class="invalid-feedback">
                <span *ngIf="err['required']">{{ 'COMMON.VALIDATIONS.FIRSTNAME_IS_REQUIRED' | translate }}</span>
                <span *ngIf="err['minlength']" [translate]="'COMMON.VALIDATIONS.FIRSTNAME_MIN_LENGTH'" [translateParams]="{ minLength: err['minlength'].requiredLength }"></span>
            </div>
        </div>

        <div class="form-holder floating">
            <input id="lastname" nbInput fullWidth type="text" [placeholder]="'COMMON.PLACEHOLDER.LAST_NAME' | translate" formControlName="lastName" [ngClass]="{ 'status-danger': submitted && UF['lastName'].errors }" />
            <label for="lastname" [attr.data-content]="'*' + ('COMMON.LABEL.LAST_NAME' | translate)"></label>
            <div *ngIf="submitted && UF['lastName'].errors as err" class="invalid-feedback">
                <span *ngIf="err['required']">{{ 'COMMON.VALIDATIONS.FIRSTNAME_IS_REQUIRED' | translate }}</span>
                <span *ngIf="err['minlength']"><span *ngIf="err['minlength']" [translate]="'COMMON.VALIDATIONS.LASTNAME_MIN_LENGTH'" [translateParams]="{ minLength: err['minlength'].requiredLength }"></span></span>
            </div>
        </div>

        <div class="form-holder floating">
            <input id="email" nbInput fullWidth type="text" [placeholder]="'COMMON.PLACEHOLDER.EMAIL' | translate" formControlName="email" [ngClass]="{ 'status-danger': submitted && UF['email'].errors }" />
            <label for="email" [attr.data-content]="'*' + ('COMMON.LABEL.EMAIL' | translate)"></label>
            <div *ngIf="submitted && UF['email'].errors as err" class="invalid-feedback">
                <span *ngIf="err['required']">{{ 'COMMON.VALIDATIONS.EMAIL_IS_REQUIRED' | translate }}</span>
                <span *ngIf="err['email']">{{ 'COMMON.VALIDATIONS.EMAIL_MUST_BE_VALID' | translate }}</span>
            </div>
        </div>

        <div class="form-holder floating">
            <input id="phone" nbInput fullWidth type="text" [placeholder]="'COMMON.PLACEHOLDER.PHONE_NUMBER' | translate" formControlName="phone" [ngClass]="{ 'status-danger': submitted && UF['phone'].errors }" />
            <label for="phone" [attr.data-content]="'*' + ('COMMON.LABEL.PHONE_NUMBER' | translate)"></label>
            <div *ngIf="submitted && UF['phone'].errors as err" class="invalid-feedback">
                <span *ngIf="err['required']">{{ 'COMMON.VALIDATIONS.PHONE_IS_REQUIRED' | translate }}</span>
                <ng-container *ngIf="!err['pattern']">
                    <span *ngIf="err['minlength']" [translate]="'COMMON.VALIDATIONS.PHONE_MIN_LENGTH'" [translateParams]="{ minLength: err['minlength'].requiredLength }"></span>
                    <span *ngIf="err['maxlength']" [translate]="'COMMON.VALIDATIONS.PHONE_MAX_LENGTH'" [translateParams]="{ maxlength: err['maxlength'].requiredLength }"></span>
                </ng-container>
                <span *ngIf="err['pattern']">{{ 'COMMON.VALIDATIONS.INVALID_PHONE' | translate }}</span>
            </div>
        </div>

        <div class="form-holder">
            <nb-select [placeholder]="'COMMON.PLACEHOLDER.SELECT_COUNTRY' | translate" fullWidth formControlName="country" (selectedChange)="onSelectChange($event)" [ngClass]="{ 'status-danger': submitted && UF['country'].errors }">
                <nb-option *ngFor="let countryRow of countries" [value]="countryRow._id">{{ countryRow.name }}</nb-option>
            </nb-select>
            <div *ngIf="submitted && UF['country'].errors as err" class="invalid-feedback">
                <span *ngIf="err['required']">{{ 'COMMON.VALIDATIONS.COUNTRY_IS_REQUIRED' | translate }}</span>
            </div>
        </div>

        <div class="form-holder">
            <nb-select [placeholder]="'COMMON.PLACEHOLDER.SELECT_STATE' | translate" fullWidth formControlName="state" [ngClass]="{ 'status-danger': submitted && UF['state'].errors }">
                <nb-option *ngFor="let stateRow of states" [value]="stateRow._id">{{ stateRow.name }}</nb-option>
            </nb-select>
            <div *ngIf="submitted && UF['state'].errors as err" class="invalid-feedback">
                <span *ngIf="err['required']">{{ 'COMMON.VALIDATIONS.STATE_IS_REQUIRED' | translate }}</span>
            </div>
        </div>

        <div class="form-holder floating">
            <input id="city" nbInput fullWidth type="text" [placeholder]="'COMMON.PLACEHOLDER.CITY' | translate" formControlName="city" [ngClass]="{ 'status-danger': submitted && UF['city'].errors }" />
            <label for="city" [attr.data-content]="'*' + ('COMMON.LABEL.CITY' | translate)"></label>
            <div *ngIf="submitted && UF['city'].errors as err" class="invalid-feedback">
                <span *ngIf="err['required']">{{ 'COMMON.VALIDATIONS.CITY_IS_REQUIRED' | translate }}</span>
            </div>
        </div>

        <div class="form-holder floating">
            <input id="address" nbInput fullWidth type="text" [placeholder]="'COMMON.PLACEHOLDER.ADDRESS' | translate" formControlName="address" [ngClass]="{ 'status-danger': submitted && UF['address'].errors }" />
            <label for="address" [attr.data-content]="'*' + ('COMMON.LABEL.ADDRESS' | translate)"></label>
            <div *ngIf="submitted && UF['address'].errors as err" class="invalid-feedback">
                <span *ngIf="err['required']">{{ 'COMMON.VALIDATIONS.ADDRESS_IS_REQUIRED' | translate }}</span>
                <span *ngIf="err['minlength']" [translate]="'COMMON.VALIDATIONS.ADDRESS_MIN_LENGTH'" [translateParams]="{ minLength: err['minlength'].requiredLength }"></span>
            </div>
        </div>

        <div class="form-holder floating">
            <input id="zipcode" nbInput fullWidth type="text" [placeholder]="'COMMON.PLACEHOLDER.ZIP_CODE' | translate" formControlName="zipCode" [ngClass]="{ 'status-danger': submitted && UF['zipCode'].errors }" />
            <label for="zipcode" [attr.data-content]="'*' + ('COMMON.LABEL.ZIP_CODE' | translate)"></label>
            <div *ngIf="submitted && UF['zipCode'].errors as err" class="invalid-feedback">
                <span *ngIf="err['required']">{{ 'COMMON.VALIDATIONS.ZIP_IS_REQUIRED' | translate }}</span>
                <span *ngIf="err['minlength']" [translate]="'COMMON.VALIDATIONS.ZIP_CODE_MIN_LENGTH'" [translateParams]="{ minLength: err['minlength'].requiredLength }"></span>
            </div>
        </div>

        <div class="form-holder floating">
            <input id="company" nbInput fullWidth type="text" [placeholder]="'REGISTER.PLACEHOLDER.COMPANY' | translate" formControlName="companyName" [ngClass]="{ 'status-danger': submitted && UF['companyName'].errors }" />
            <label for="company" [attr.data-content]="'*' + ('REGISTER.LABEL.COMPANY' | translate)"></label>
            <div *ngIf="submitted && UF['companyName'].errors as err" class="invalid-feedback">
                <span *ngIf="err['required']">{{ 'REGISTER.VALIDATIONS.COMPANY_IS_REQUIRED' | translate }}</span>
                <span *ngIf="err['minlength']" [translate]="'REGISTER.VALIDATIONS.COMPANY_MIN_LENGTH'" [translateParams]="{ minLength: err['minlength'].requiredLength }"></span>
            </div>
            <nb-autocomplete #autoControl>
                <nb-option *ngFor="let option of filteredControlOptions$ | async" [value]="option">
                    {{ option }}
                </nb-option>
            </nb-autocomplete>
        </div>

        <div class="form-holder full" *ngIf="selectedSubscriber !== 'other'">
            <nb-checkbox status="basic" (checkedChange)="changedOnAgreedOnTerms($event)">
                <p class="terms-and-condition" [innerHTML]="'REGISTER.LABEL.AGREE_THE_TERMS_AND_CONDITION' | translate"></p>
            </nb-checkbox>
        </div>
        <re-captcha #captchaRef="reCaptcha" (error)="onError($event)" errorMode="handled" (resolved)="resolved($event, registrationFormGroup)" size="invisible"> </re-captcha>
    </div>
    <div class="submit-button">
        <div class="action-holder">
            <button nbButton hero status="primary" [disabled]="!enableSubmitButton">{{ 'REGISTER.BUTTON.REGISTER' | translate }}</button>
            <a nbButton hero status="basic" href="/#/auth/login">{{ 'LOGIN.BUTTON.LOGIN' | translate }}</a>
        </div>
    </div>
</form>
