<nb-card class="medium-card-width" accent="info">
  <nb-card-header>
    <section class="dialog-head">
      <h6>{{ 'MANAGE_PROJECTS.VERSION.TITLE.VERSION_DETAILS' | translate }}</h6>
    </section>
    <div class="close-dialog">
      <button nbButton (click)="closeModel()">
        <nb-icon icon="close-circle-outline" pack="eva"> </nb-icon>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="detail-row">
      <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.VERSION_NAME' | translate }}: </strong> <span>{{
        versionDetails?.versionName }}</span>
    </div>
    <div class="detail-row">
      <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.LOG_FILE_PATH' | translate }}: </strong> <span>{{
        versionDetails?.logFilePath }}</span>
    </div>
    <div class="detail-row">
      <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.LOG_FILE_VERSION' | translate }}: </strong> <span>{{
        versionDetails?.logFileVersion || 'N/a' }}</span>
    </div>
    <div class="detail-row">
      <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.VERSION_MODEL' | translate }}: </strong> <span>{{
        versionDetails?.versionModel || 'N/a' }}</span>
    </div>
    <div class="detail-row">
      <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.NOTE_BOOK_VERSION' | translate }}: </strong> <span>{{
        versionDetails?.noteBookVersion || 'N/a' }}</span>
    </div>
    <div class="detail-row">
      <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.TRAIN_DATA_SETS' | translate }}: </strong> <span>{{
        versionDetails?.trainDataSets || 'N/a' }}</span>
    </div>
    <div class="detail-row">
      <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.TEST_DATA_SETS' | translate }}: </strong> <span>{{
        versionDetails?.testDataSets || 'N/a' }}</span>
    </div>
    <div class="detail-row">
      <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.ARTIFACTS' | translate }}: </strong> <span>{{
        versionDetails?.artifacts || 'N/a' }}</span>
    </div>
    <div class="detail-row">
      <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.CODE_REPO' | translate }}: </strong> <span>{{
        versionDetails?.codeRepo || 'N/a' }}</span>
    </div>
    <div class="detail-row">
      <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.CODE_VERSION' | translate }}: </strong> <span>{{
        versionDetails?.codeVersion || 'N/a' }}</span>
    </div>
    <div class="detail-row">
      <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.VERSION_STATUS' | translate }}: </strong> <span>{{
        versionDetails?.versionStatus || 'N/a' }}</span>
    </div>
    <div class="detail-row">
      <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.COMMENT' | translate }}: </strong> <span>{{
        versionDetails?.comment || 'N/a' }}</span>
    </div>
    <div class="detail-row">
      <strong> {{ 'COMMON.COLUMN_NAME.CREATED_DATE' | translate }}: </strong> <span>{{ (versionDetails?.createdAt
        | date: 'fullDate') || 'N/a' }}</span>
    </div>
    <div class="detail-row">
      <strong> {{ 'COMMON.COLUMN_NAME.UPDATED_DATE' | translate }}: </strong> <span>{{ (versionDetails?.updatedAt
        | date: 'fullDate') || 'N/a' }}</span>
    </div>

    <nb-card accent="info">
      <nb-card-header> {{'MANAGE_PROJECTS.VERSION.TITLE.PROJECT_INFO' | translate}} </nb-card-header>
      <nb-card-body>
        <div class="detail-row">
          <strong> {{ 'COMMON.LABEL.NAME' | translate }}: </strong> <span>{{ versionDetails?.project?.name }}
          </span>
        </div>
        <div class="detail-row">
          <strong> {{ 'MANAGE_PROJECTS.PROJECT.LABEL.PROJECT_DOMAIN' | translate }}: </strong> <span>{{
            versionDetails?.project?.domain }} </span>
        </div>
        <div class="detail-row">
          <strong> {{ 'MANAGE_PROJECTS.PROJECT.LABEL.PROJECT_DETAILS' | translate }}: </strong> <span>{{
            versionDetails?.project?.details }} </span>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card accent="info">
      <nb-card-header> {{'MANAGE_PROJECTS.VERSION.TITLE.CREATED_BY_INFO' | translate }}</nb-card-header>
      <nb-card-body>
        <div class="detail-row">
          <strong> {{ 'COMMON.LABEL.NAME' | translate }}: </strong> <span>{{
            versionDetails?.createdBy?.firstName }} {{ versionDetails?.createdBy?.lastName }}</span>
        </div>
        <div class="detail-row">
          <strong> {{ 'COMMON.LABEL.EMAIL' | translate }}: </strong> <span>{{ versionDetails?.createdBy?.email
            }} </span>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>
