<form [formGroup]="requestPasswordFormGroup" (ngSubmit)="executeCaptcha(requestPasswordFormGroup, captchaRef)" *ngIf="!emailSent" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="">
    <h4 class="title">{{ 'FORGOT_PASSWORD.LABEL.TITLE' | translate }}</h4>
    <p class="sub-title">{{ 'FORGOT_PASSWORD.LABEL.SUB_TITLE' | translate }}</p>
    <div class="form-inner-container two-col">
        <div class="form-holder floating">
            <input id="email" nbInput fullWidth type="text" [placeholder]="'COMMON.PLACEHOLDER.EMAIL' | translate" formControlName="email" [ngClass]="{ 'status-danger': submitted && UF['email'].errors }" />
            <label for="email" [attr.data-content]="'*' + ('COMMON.LABEL.EMAIL' | translate)"></label>

            <div *ngIf="submitted && UF['email'].errors as err" class="invalid-feedback">
                <span *ngIf="err['required']">{{ 'COMMON.VALIDATIONS.EMAIL_IS_REQUIRED' | translate }}</span>
                <span *ngIf="err['email']">{{ 'COMMON.VALIDATIONS.EMAIL_MUST_BE_VALID' | translate }}</span>
            </div>
        </div>
    </div>
    <re-captcha #captchaRef="reCaptcha" (error)="onError($event)" errorMode="handled" (resolved)="resolved($event, requestPasswordFormGroup)" size="invisible"> </re-captcha>

    <div class="action-holder">
        <button nbButton hero status="primary">{{ 'FORGOT_PASSWORD.BUTTON.RESET_PASSWORD' | translate }}</button>
    </div>
</form>

<div *ngIf="emailSent">
    <h4 class="title">{{ 'FORGOT_PASSWORD.LABEL.PASSWORD_RESET_EMAIL_SENT' | translate }}</h4>
    <p class="sub-title">{{ 'FORGOT_PASSWORD.LABEL.AN_EMAIL_HAS_BEEN_SENT' | translate: { email: UF['email'].value } }}</p>
    <button nbButton hero status="primary" (click)="goToLogin()">{{ 'FORGOT_PASSWORD.BUTTON.GO_TO_LOGIN' | translate }}</button>
</div>
