.grid-row {
    display: grid;
    grid-template-columns: 50% 50%;
}

table {
    width: 100%;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody {
    display: block;
    overflow-y: auto;
    table-layout: fixed;
    max-height: 40vh;
}
