<nb-card class="medium-card-width">
    <nb-card-body>
        <nb-tabset fullWidth>
            <nb-tab tabTitle="{{ 'MANAGE_PROJECTS.COMMON.LABEL.AI_ENGINEER' | translate }}">
                <nb-card>
                    <nb-card-body>
                        <ng-container *ngFor="let experimentData of versionExperimentData">
                            <ng-container *ngFor="let expData of experimentData">
                                <nb-card accent="info">
                                    <nb-card-header>
                                        <h6>{{ 'MANAGE_PROJECTS.AI_MODEL.LABEL.EXPERIMENT_NAME' | translate }}:&nbsp;{{ expData.exp.exp_no }}</h6>
                                    </nb-card-header>
                                    <div class="grid-row">
                                        <nb-card>
                                            <nb-card-header>
                                                <h6>{{ 'MANAGE_PROJECTS.AI_MODEL.LABEL.HYPER_PARAMETERS' | translate }}</h6>
                                            </nb-card-header>
                                            <nb-card-body>
                                                <ng-container *ngFor="let hyperparameter of expData.exp.hyperparameters | keyvalue">
                                                    <div class="detail-row">
                                                        <strong>{{ hyperparameter.key }}: </strong> {{ hyperparameter.value }}
                                                    </div>
                                                </ng-container>
                                            </nb-card-body>
                                        </nb-card>
                                        <nb-card>
                                            <nb-card-header>
                                                <h6>{{ 'MANAGE_PROJECTS.AI_MODEL.LABEL.TEST_METRICS' | translate }}</h6>
                                            </nb-card-header>
                                            <nb-card-body>
                                                <ng-container *ngFor="let testMetric of expData.exp.test_metrics | keyvalue">
                                                    <div class="detail-row">
                                                        <strong>{{ testMetric.key }}: </strong> {{ testMetric.value }}
                                                    </div>
                                                </ng-container>
                                            </nb-card-body>
                                        </nb-card>
                                    </div>
                                    <nb-card>
                                        <nb-card-header>
                                            <h6>{{ 'MANAGE_PROJECTS.AI_MODEL.LABEL.EPOCHS' | translate }}</h6>
                                        </nb-card-header>
                                        <nb-card-body>
                                            <table>
                                                <thead>
                                                    <tr *ngIf="expData.exp.epochs && expData.exp.epochs[0]">
                                                        <th scope="col">{{ 'MANAGE_PROJECTS.AI_MODEL.COLUMN_NAME.EPOCH_NO' | translate }}</th>
                                                        <th *ngFor="let epoch of expData.exp.epochs[0] | keyvalue">{{ epoch.key }}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let epochValue of expData.exp.epochs | keyvalue; let i = index">
                                                        <td>{{ i }}</td>
                                                        <td *ngFor="let epoch of expData.exp.epochs[i] | keyvalue">{{ epoch.value }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card>
                            </ng-container>
                        </ng-container>
                        <div *ngIf="loading">
                            <app-loader></app-loader>
                        </div>
                        <div *ngIf="!versionExpDataFound && !loading">
                            <app-data-not-found></app-data-not-found>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
            <nb-tab tabTitle="{{ 'MANAGE_PROJECTS.COMMON.LABEL.MLOPS_ENGINEER' | translate }}">
                <nb-card>
                    <nb-card-body>
                        <ng-container *ngFor="let experimentData of reviewedModelExperimentData">
                            <ng-container *ngFor="let expData of experimentData">
                                <nb-card accent="info">
                                    <nb-card-header>
                                        <h6>{{ 'MANAGE_PROJECTS.AI_MODEL.LABEL.EXPERIMENT_NAME' | translate }}:&nbsp;{{ expData.exp.exp_no }}</h6>
                                    </nb-card-header>
                                    <div class="grid-row">
                                        <nb-card>
                                            <nb-card-header>
                                                <h6>{{ 'MANAGE_PROJECTS.AI_MODEL.LABEL.HYPER_PARAMETERS' | translate }}</h6>
                                            </nb-card-header>
                                            <nb-card-body>
                                                <ng-container>
                                                    <ng-container *ngFor="let hyperparameter of expData.exp.hyperparameters | keyvalue">
                                                        <div class="detail-row">
                                                            <strong>{{ hyperparameter.key }}: </strong> {{ hyperparameter.value }}
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </nb-card-body>
                                        </nb-card>
                                        <nb-card>
                                            <nb-card-header>
                                                <h6>{{ 'MANAGE_PROJECTS.AI_MODEL.LABEL.TEST_METRICS' | translate }}</h6>
                                            </nb-card-header>
                                            <nb-card-body>
                                                <ng-container *ngFor="let testMetric of expData.exp.test_metrics | keyvalue">
                                                    <div class="detail-row">
                                                        <strong>{{ testMetric.key }}: </strong> {{ testMetric.value }}
                                                    </div>
                                                </ng-container>
                                            </nb-card-body>
                                        </nb-card>
                                    </div>
                                    <nb-card>
                                        <nb-card-header>
                                            <h6>{{ 'MANAGE_PROJECTS.AI_MODEL.LABEL.EPOCHS' | translate }}</h6>
                                        </nb-card-header>
                                        <nb-card-body>
                                            <table>
                                                <thead>
                                                    <tr *ngIf="expData.exp.epochs && expData.exp.epochs[0]">
                                                        <th scope="col">{{ 'MANAGE_PROJECTS.AI_MODEL.COLUMN_NAME.EPOCH_NO' | translate }}</th>
                                                        <th *ngFor="let epoch of expData.exp.epochs[0] | keyvalue">{{ epoch.key }}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let epochValue of expData.exp.epochs | keyvalue; let i = index">
                                                        <td>{{ i }}</td>
                                                        <td *ngFor="let epoch of expData.exp.epochs[i] | keyvalue">{{ epoch.value }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </nb-card-body>
                                    </nb-card>
                                </nb-card>
                            </ng-container>
                        </ng-container>
                        <div *ngIf="loadingReviewed">
                            <app-loader></app-loader>
                        </div>
                        <div *ngIf="!reviewedExpDataFound && !loadingReviewed">
                            <app-data-not-found></app-data-not-found>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>
