<div>
    <div class="page-title">
        <div class="title-holder">
            <h4>{{ 'MANAGE_PROJECTS.COMMON.LABEL.VERSION_DETAILS' | translate }}</h4>
        </div>
        <div class="actions" *ngIf="canViewReview && versionData && !isModelStatusDraft">
            <button nbButton hero status="primary" size="small" (click)="viewModelReviews(versionData._id)">
                {{ 'MANAGE_PROJECTS.AI_MODEL.BUTTON.REVIEW_MODEL' | translate }}
            </button>
            <button nbButton hero status="success" size="small" (click)="openVerifyBcHashModel(versionData._id)">
                {{ 'MANAGE_PROJECTS.AI_MODEL.BUTTON.VERIFY_BC_HASH' | translate }}
            </button>
        </div>
        <div class="actions" *ngIf="checkCanSubmitVersionModel()" (click)="submitModelVersion(versionData._id)">
            <button nbButton hero status="primary" size="small">
                {{ 'MANAGE_PROJECTS.AI_MODEL.BUTTON.SUBMIT_MODEL' | translate }}
            </button>
        </div>
    </div>
    <nb-card class="medium-card-width" *ngIf="versionData" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="">
        <nb-card-body class="grid-row">
            <div class="col-1-1">
                <strong> {{ 'MANAGE_PROJECTS.PROJECT.LABEL.PROJECT_NAME' | translate }}: </strong>
            </div>
            <div class="col-2-2">
                {{ versionData.project.name }}
            </div>
            <div class="col-1-1">
                <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.VERSION_NAME' | translate }}: </strong>
            </div>
            <div class="col-2-2">
                {{ versionData.versionName }}
            </div>
            <ng-container *ngIf="versionData.logFilePath">
                <div class="col-1-1">
                    <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.LOG_FILE_PATH' | translate }}: </strong>
                </div>
                <div class="col-2-2 pop-over">
                    <span [nbPopover]="versionData.logFilePath" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                        {{ formatOracleUrl(versionData.logFilePath) }}
                    </span>
                </div>
            </ng-container>

            <ng-container *ngIf="versionData.testDataSets">
                <div class="col-1-1">
                    <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.TEST_DATA_SETS' | translate }}: </strong>
                </div>
                <div class="col-2-2 pop-over">
                    <span [nbPopover]="versionData.testDataSets" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                        {{ formatOracleUrl(versionData.testDataSets) }}
                    </span>
                </div>
                <div class="col-4-4">
                    <button nbSuffix nbButton ghost (click)="getTestDataBcHash(versionData._id)" *ngIf="isModelStatusDraft">
                        <nb-icon [nbTooltip]="'MANAGE_PROJECTS.VERSION.TOOLTIP.TO_UPDATE_TEST_DATA_SETS' | translate" icon="refresh-outline"> </nb-icon>
                    </button>
                </div>

                <div class="col-1-1">
                    <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.TEST_DATA_SETS_BC_HASH' | translate }}: </strong>
                </div>
                <div class="col-2-2 error-hash" *ngIf="versionData.testDatasetStatus.code === oracleBucketDataStatus.ERROR">
                    {{ versionData.testDatasetStatus.message }}
                </div>
                <div class="col-2-2 bc-hash" *ngIf="versionData.testDatasetStatus.code === oracleBucketDataStatus.FETCHED">
                    {{ versionData.testDatasetBCHash }}
                </div>
                <div class="col-2-2 info-hash" *ngIf="versionData.testDatasetStatus.code === oracleBucketDataStatus.FETCHING">
                    {{ formatFetchingInfo(versionData.testDatasetStatus.code) }}
                </div>
            </ng-container>

            <ng-container *ngIf="versionData.trainDataSets">
                <div class="col-1-1">
                    <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.TRAIN_DATA_SETS' | translate }}: </strong>
                </div>

                <div class="col-2-2 pop-over">
                    <span [nbPopover]="versionData.trainDataSets" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                        {{ formatOracleUrl(versionData.trainDataSets) }}
                    </span>
                </div>

                <div class="col-4-4">
                    <button nbButton ghost (click)="getTrainDataSetsBcHash(versionData._id)" *ngIf="isModelStatusDraft">
                        <nb-icon [nbTooltip]="'MANAGE_PROJECTS.VERSION.TOOLTIP.TO_UPDATE_TRAIN_DATA_SETS' | translate" icon="refresh-outline"> </nb-icon>
                    </button>
                </div>

                <div class="col-1-1">
                    <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.TRAIN_DATA_SETS_BC_HASH' | translate }}: </strong>
                </div>
                <div class="col-2-2 error-hash" *ngIf="versionData.trainDatasetStatus.code === oracleBucketDataStatus.ERROR">
                    {{ versionData.trainDatasetStatus.message }}
                </div>
                <div class="col-2-2 bc-hash" *ngIf="versionData.trainDatasetStatus.code === oracleBucketDataStatus.FETCHED">
                    {{ versionData.trainDatasetBCHash }}
                </div>
                <div class="col-2-2 info-hash" *ngIf="versionData.trainDatasetStatus.code === oracleBucketDataStatus.FETCHING">
                    {{ formatFetchingInfo(versionData.trainDatasetStatus.code) }}
                </div>
            </ng-container>

            <ng-container *ngIf="versionData.aiModel">
                <div class="col-1-1">
                    <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.AI_MODEL' | translate }}: </strong>
                </div>
                <div class="col-2-2 pop-over">
                    <span [nbPopover]="versionData.aiModel" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                        {{ formatOracleUrl(versionData.aiModel) }}
                    </span>
                </div>
                <div class="col-4-4">
                    <button nbSuffix nbButton ghost (click)="getAiModelBcHash(versionData._id)" *ngIf="isModelStatusDraft">
                        <nb-icon [nbTooltip]="'MANAGE_PROJECTS.VERSION.TOOLTIP.TO_UPDATE_AI_MODEL_DATA' | translate" icon="refresh-outline"> </nb-icon>
                    </button>
                </div>

                <div class="col-1-1">
                    <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.AI_MODEL_BC_HASH' | translate }}: </strong>
                </div>
                <div class="col-2-2 error-hash" *ngIf="versionData.aiModelStatus.code === oracleBucketDataStatus.ERROR">
                    {{ versionData.aiModelStatus.message }}
                </div>
                <div class="col-2-2 bc-hash" *ngIf="versionData.aiModelStatus.code === oracleBucketDataStatus.FETCHED">
                    {{ versionData.aiModelBcHash }}
                </div>
                <div class="col-2-2 info-hash" *ngIf="versionData.aiModelStatus.code === oracleBucketDataStatus.FETCHING">
                    {{ formatFetchingInfo(versionData.aiModelStatus.code) }}
                </div>
            </ng-container>

            <div class="col-1-1">
                <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.NOTE_BOOK_VERSION' | translate }}: </strong>
            </div>
            <div class="col-2-2">
                {{ versionData.noteBookVersion }}
            </div>

            <div class="col-1-1">
                <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.CODE_REPO' | translate }}: </strong>
            </div>
            <div class="col-2-2">
                {{ versionData.codeRepo }}
            </div>

            <div class="col-1-1">
                <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.CODE_VERSION' | translate }}: </strong>
            </div>
            <div class="col-2-2">
                {{ versionData.codeVersion }}
            </div>

            <div class="col-1-1">
                <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.VERSION_STATUS' | translate }}: </strong>
            </div>
            <div class="col-2-2">
                {{ versionData.versionStatus }}
            </div>

            <div class="col-1-1">
                <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.COMMENT' | translate }}: </strong>
            </div>
            <div class="col-2-2">
                {{ versionData.comment }}
            </div>

            <ng-container *ngIf="versionData.submittedDate; else createdDateBlockLabel">
                <div class="col-1-1">
                    <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.SUBMITTED_DATE' | translate }}: </strong>
                </div>
                <div class="col-2-2">
                    {{ versionData.submittedDate | date: 'fullDate' }}
                </div>
            </ng-container>
            <ng-template #createdDateBlockLabel>
                <div class="col-1-1">
                    <strong> {{ 'COMMON.COLUMN_NAME.CREATED_DATE' | translate }}: </strong>
                </div>
                <div class="col-2-2">
                    {{ versionData.createdAt | date: 'fullDate' }}
                </div>
            </ng-template>

            <ng-container *ngIf="versionData.reviewedDate">
                <div class="col-1-1">
                    <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.REVIEWED_DATE' | translate }}: </strong>
                </div>
                <div class="col-2-2">
                    {{ versionData.reviewedDate | date: 'fullDate' }}
                </div>
            </ng-container>

            <ng-container *ngIf="versionData.productionDate">
                <div class="col-1-1">
                    <strong> {{ 'MANAGE_PROJECTS.VERSION.LABEL.PRODUCTION_DATE' | translate }}: </strong>
                </div>
                <div class="col-2-2">
                    {{ versionData.productionDate | date: 'fullDate' }}
                </div>
            </ng-container>

            <div class="col-1-1">
                <strong> {{ 'COMMON.COLUMN_NAME.CREATED_BY' | translate }}: </strong>
            </div>
            <div class="col-2-2">{{ versionData.createdBy.firstName }}&nbsp;{{ versionData.createdBy.lastName }}</div>
        </nb-card-body>
        <nb-card>
            <nb-card-header>
                <h6>{{ 'MANAGE_PROJECTS.VERSION.LABEL.LOG_FILE_DATA' | translate }}</h6>
                <p class="card-paragraph">
                    <strong>{{ 'MANAGE_PROJECTS.VERSION.LABEL.LOG_FILE_BC_HASH' | translate }}:</strong>
                    <span class="card-paragraph error-hash" *ngIf="versionData.logFileStatus.code === oracleBucketDataStatus.ERROR">
                        {{ versionData.logFileStatus.message }}
                    </span>
                    <span class="card-paragraph bc-hash" *ngIf="versionData.logFileStatus.code === oracleBucketDataStatus.FETCHED">
                        {{ versionData.logFileBCHash }}
                    </span>
                    <span class="card-paragraph info-hash" *ngIf="versionData.logFileStatus.code === oracleBucketDataStatus.FETCHING">
                        {{ formatFetchingInfo(versionData.logFileStatus.code) }}
                    </span>
                </p>
                <div class="action">
                    <button nbSuffix ghost nbButton (click)="getLogFileBcHash(versionData._id)" *ngIf="isModelStatusDraft">
                        <nb-icon [nbTooltip]="'MANAGE_PROJECTS.VERSION.TOOLTIP.TO_UPDATE_LOG_FILE_DATA' | translate" icon="refresh-outline"> </nb-icon>
                    </button>
                </div>
            </nb-card-header>
            <nb-card-body>
                <table *ngIf="dataFound" [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="utilsService.updateSort($event)">
                    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="columns"></tr>
                    <tr [clickToToggle]="false" nbTreeGridRow *nbTreeGridRowDef="let row; columns: columns"></tr>
                    <ng-container
                        *ngFor="
                            let column of columns
                                | paginate
                                    : {
                                          id: 'table_paginate_id',
                                          itemsPerPage: resultperpage,
                                          currentPage: page,
                                          totalItems: totalRecords
                                      };
                            let index = index
                        "
                        [nbTreeGridColumnDef]="column"
                        [showOn]="utilsService.getShowOn(index)"
                    >
                        <ng-container [ngSwitch]="column">
                            <ng-container *ngSwitchDefault>
                                <th nbTreeGridHeaderCell [nbSortHeader]="utilsService.getSortDirection(column)" *nbTreeGridHeaderCellDef>
                                    {{ columnsName[index] }}
                                </th>
                            </ng-container>
                        </ng-container>
                        <td nbTreeGridCell *nbTreeGridCellDef="let row">
                            <nb-tree-grid-row-toggle [expanded]="row.expanded" *ngIf="column === 'name' && row.children && row.children.length"> </nb-tree-grid-row-toggle>
                            <div [ngSwitch]="column">
                                <div class="table-col" *ngSwitchCase="'date'">
                                    {{ row.data[column] | date: 'yyyy-MM-dd' }}
                                </div>
                                <div class="table-col" *ngSwitchCase="'action'">
                                    <button nbSuffix ghost nbButton (click)="viewExperimentDetails(row.data['_id'])">
                                        <nb-icon [nbTooltip]="'MANAGE_PROJECTS.TOOLTIP.VIEW_DETAILS' | translate" icon="eye-outline" pack="eva"> </nb-icon>
                                    </button>
                                </div>
                                <div *ngSwitchDefault>{{ row.data[column] || '-' }}</div>
                            </div>
                        </td>
                    </ng-container>
                </table>
                <div *ngIf="loading && loadingTable">
                    <app-loader></app-loader>
                </div>
                <div *ngIf="loadingTable && !loading && !logsData">
                    <app-loader></app-loader>
                </div>
                <div *ngIf="!loadingTable && !loading && !logsData">
                    <app-data-not-found></app-data-not-found>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-card>
</div>
