<nb-card class="medium-card-width" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="">
    <nb-card-header>
        <section class="dialog-head">
            <h6 *ngIf="mode === 'CREATE'">
                {{ 'MANAGE_USERS.ORG_STAFFING.TITLE.ADD_ORGANIZATION_STAFFING' | translate: { unitName: unitName } }}
            </h6>
            <h6 *ngIf="mode === 'EDIT'">
                {{ 'MANAGE_USERS.ORG_STAFFING.TITLE.UPDATE_ORGANIZATION_STAFFING' | translate: { unitName: unitName } }}
            </h6>
        </section>
        <div class="close-dialog">
            <button nbButton class="icon" (click)="closeModal()">
                <nb-icon icon="close-circle-outline"></nb-icon>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form class="form-container" [formGroup]="newOrganizationStaffingForm">
            <div class="form-inner-container staffing-name">
                <div class="form-holder floating">
                    <span class="label"> {{ '*' + ('MANAGE_USERS.ORG_STAFFING.LABEL.STAFFING_TYPE' | translate) }} </span>
                    <nb-select [placeholder]="'*' + ('MANAGE_USERS.ORG_STAFFING.PLACEHOLDER.SELECT_STAFFING_TYPE' | translate)" name="staffingName" formControlName="staffingName" [ngClass]="{ 'status-danger': submitted && UF['staffingName'].errors }">
                        <nb-option *ngFor="let staffingName of defaultStaffingName" [value]="staffingName">{{ staffingName }} </nb-option>
                    </nb-select>
                    <div *ngIf="submitted && UF['staffingName'].errors as err" class="invalid-feedback">
                        <span *ngIf="err['required']">
                            {{ 'MANAGE_USERS.ORG_STAFFING.VALIDATIONS.STAFFING_NAME_IS_REQUIRED' | translate }}
                        </span>
                    </div>
                </div>
                &nbsp; &nbsp;
                <div class="form-holder floating">
                    <span class="label"> {{ 'MANAGE_USERS.ORG_STAFFING.PLACEHOLDER.STAFFING_NAME' | translate }} </span>
                    <input name="staffingName" nbInput #staffingName [value]="updateStaffingName ? updateStaffingName : ''" [placeholder]="'MANAGE_USERS.ORG_STAFFING.PLACEHOLDER.STAFFING_NAME' | translate" />
                </div>
            </div>

            <div class="form-inner-container two-col">
                <div class="form-holder floating">
                    <span class="label"> *{{ 'MANAGE_USERS.ORG_STAFFING.LABEL.BC_NODE_INFO' | translate }} </span>
                    <nb-select fullWidth [placeholder]="'*' + ('MANAGE_USERS.ORG_STAFFING.PLACEHOLDER.SELECT_BC_NODE_INFO' | translate)" name="bcNodeInfo" formControlName="bcNodeInfo" [ngClass]="{ 'status-danger': submitted && UF['bcNodeInfo'].errors }">
                        <nb-option *ngFor="let bNode of bcNodeInfo" [value]="bNode._id">{{ bNode.orgName }} </nb-option>
                    </nb-select>
                    <div *ngIf="submitted && UF['bcNodeInfo'].errors as err" class="invalid-feedback">
                        <span *ngIf="err['required']"> {{ 'MANAGE_USERS.ORG_STAFFING.VALIDATIONS.BC_NODE_INFO_IS_REQUIRED' | translate }}</span>
                    </div>
                </div>
            </div>
            <div class="form-holder floating">
                <span class="label"> *{{ 'MANAGE_USERS.ORG_STAFFING.PLACEHOLDER.SELECT_CHANNEL_DETAILS' | translate }} </span>

                <ng-container *ngIf="UF['staffingName'].value === defaultStaffingName[0]; else elseBlock">
                    <nb-select [placeholder]="'*' + ('MANAGE_USERS.ORG_STAFFING.PLACEHOLDER.SELECT_CHANNEL_DETAILS' | translate)" formControlName="aiEngChannel" fullWidth [ngClass]="{ 'status-danger': submitted && UF['aiEngChannel'].errors }">
                        <nb-option *ngFor="let channel of nonDefaultChannels" [value]="channel._id">
                            {{ channel.channelName }}
                        </nb-option>
                    </nb-select>
                </ng-container>
                <ng-template #elseBlock>
                    <nb-select multiple [placeholder]="'*' + ('MANAGE_USERS.ORG_STAFFING.PLACEHOLDER.SELECT_CHANNEL_DETAILS' | translate)" fullWidth formControlName="channels" [ngClass]="{ 'status-danger': submitted && UF['channels'].errors }">
                        <nb-option *ngFor="let channel of nonDefaultChannels" [value]="channel._id">
                            {{ channel.channelName }}
                        </nb-option>
                    </nb-select>
                </ng-template>
                <div *ngIf="submitted && UF['channels'].errors as err" class="invalid-feedback">
                    <span *ngIf="err['required']"> {{ 'MANAGE_USERS.ORG_STAFFING.VALIDATIONS.CHANNEL_DETAILS_IS_REQUIRED' | translate }}</span>
                </div>
            </div>
            <div class="form-inner-container">
                <div class="form-holder floating">
                    <input name="bucketUrl" nbInput fullWidth [placeholder]="'*' + ('MANAGE_USERS.ORG_STAFFING.PLACEHOLDER.ORACLE_BUCKET_URL' | translate)" fullWidth formControlName="bucketUrl" [ngClass]="{ 'status-danger': submitted && UF['bucketUrl'].errors }" />
                    <label for="bucketUrl" [attr.data-content]="'*' + ('MANAGE_USERS.ORG_STAFFING.LABEL.ORACLE_BUCKET_URL' | translate)"></label>
                    <div *ngIf="submitted && UF['bucketUrl'].errors as err" class="invalid-feedback">
                        <span *ngIf="err['required']">
                            {{ 'MANAGE_USERS.ORG_STAFFING.VALIDATIONS.ORACLE_BUCKET_URL_IS_REQUIRED' | translate }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-holder feature-list">
                <div>
                    <nb-checkbox status="basic" [checked]="masterSelected" (checkedChange)="toggleAllSelection($event)">SELECT ALL </nb-checkbox>
                </div>
                <div class="feature-title">{{ 'MANAGE_USERS.ORG_STAFFING.DESCRIPTION.FEATURE_ACCESS_LEVEL' | translate }}</div>
                <div class="feature" *ngFor="let feature of featureList">
                    <div class="feature-name">{{ feature.feature }}</div>
                    <div *ngIf="mode === 'CREATE'" class="access-list">
                        <nb-checkbox status="basic" (checkedChange)="toggleFeatureList(feature._id, access, $event)" *ngFor="let access of feature?.accessType; let i = index" [checked]="feature.accessChecked[i]">{{ access }}</nb-checkbox>
                    </div>
                    <div *ngIf="mode === 'EDIT'" class="access-list">
                        <nb-checkbox status="basic" (checkedChange)="toggleFeatureList(feature._id, access, $event)" *ngFor="let access of feature?.accessType; let i = index" [checked]="feature.accessChecked[i]">{{ access }}</nb-checkbox>
                    </div>
                </div>
                <div *ngIf="submitted && accessListRequiredError" class="invalid-feedback">
                    <span>{{ 'MANAGE_USERS.ORG_STAFFING.VALIDATIONS.ACCESS_LIST_IS_REQUIRED' | translate }}</span>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton hero status="primary" type="submit" (click)="saveNewOrganizationStaffing(newOrganizationStaffingForm)">{{ 'COMMON.BUTTON.SAVE' | translate }}</button>
    </nb-card-footer>
</nb-card>
