.feature-list {
    .feature-title {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .feature-name {
        margin-bottom: 5px;
    }

    .access-list {
        margin-bottom: 15px;

        nb-checkbox {
            margin-right: 15px;
        }
    }
}

.staffing-name {
    display: flex;
}

.label {
    font-size: 14px;
    font-weight: 200;
}
