<nb-card class="medium-card-width" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="">
    <nb-card-header>
        <section class="dialog-head">
            <h6 *ngIf="mode === 'CREATE'">{{ 'MANAGE_USERS.ORG_STAFFING.TITLE.ADD_ORGANIZATION_STAFFING' | translate: { unitName: unitName } }}</h6>
            <h6 *ngIf="mode === 'EDIT'">{{ 'MANAGE_USERS.ORG_STAFFING.TITLE.UPDATE_ORGANIZATION_STAFFING' | translate: { unitName: unitName } }}</h6>
        </section>
        <div class="close-dialog">
            <button nbButton class="icon" (click)="closeModal()">
                <nb-icon icon="close-circle-outline"></nb-icon>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form class="form-container" [formGroup]="newOrganizationStaffingForm">
            <div class="form-holder floating">
                <input name="staffingName" nbInput fullWidth [placeholder]="'*' + ('MANAGE_USERS.ORG_STAFFING.PLACEHOLDER.STAFFING_NAME' | translate)" formControlName="staffingName" [ngClass]="{ 'status-danger': submitted && UF.staffingName.errors }" />
                <label for="staffingName" [attr.data-content]="'*' + ('MANAGE_USERS.ORG_STAFFING.PLACEHOLDER.STAFFING_NAME' | translate)"></label>
                <div *ngIf="submitted && UF.staffingName.errors as err" class="invalid-feedback">
                    <span *ngIf="err.required">{{ 'MANAGE_USERS.ORG_STAFFING.VALIDATIONS.STAFFING_NAME_IS_REQUIRED' | translate }}</span>
                </div>
            </div>
            <div class="form-holder feature-list">
                <div>
                    <nb-checkbox status="basic" [checked]="masterSelected" (checkedChange)="toggleAllSelection($event)">SELECT ALL</nb-checkbox>
                </div>
                <div class="feature-title">{{ 'MANAGE_USERS.ORG_STAFFING.DESCRIPTION.FEATURE_ACCESS_LEVEL' | translate }}</div>
                <div class="feature" *ngFor="let feature of featureList">
                    <div class="feature-name">{{ feature.feature }}</div>
                    <div *ngIf="mode === 'CREATE'" class="access-list">
                        <nb-checkbox status="basic" (checkedChange)="toggleFeatureList(feature?._id, access, $event)" *ngFor="let access of feature?.accessType; let i = index" [checked]="feature?.accessChecked[i]">{{ access }}</nb-checkbox>
                    </div>
                    <div *ngIf="mode === 'EDIT'" class="access-list">
                        <nb-checkbox status="basic" (checkedChange)="toggleFeatureList(feature?._id, access, $event)" *ngFor="let access of feature?.accessType; let i = index" [checked]="feature?.accessChecked[i]">{{ access }}</nb-checkbox>
                    </div>
                </div>
                <div *ngIf="submitted && accessListRequiredError" class="invalid-feedback">
                    <span>{{ 'MANAGE_USERS.ORG_STAFFING.VALIDATIONS.ACCESS_LIST_IS_REQUIRED' | translate }}</span>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton hero status="primary" type="submit" (click)="saveNewOrganizationStaffing(newOrganizationStaffingForm)">{{ 'COMMON.BUTTON.SAVE' | translate }}</button>
    </nb-card-footer>
</nb-card>
