@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme((

    

  
  
  
  
  
  
  
  
      
), corporate, corporate)                              ;
