<form [formGroup]="resetPasswordFormGroup" (ngSubmit)="resetPasswordFormSubmit(resetPasswordFormGroup)" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="">
    <h4 class="title">{{ 'FORGOT_PASSWORD.TITLE.RESET_PASSWORD' | translate }}</h4>
    <p class="sub-title">{{ 'FORGOT_PASSWORD.DESCRIPTION.PLEASE_ENTER_YOUR_PASSWORD' | translate }}</p>
    <div class="form-inner-container two-col">
        <div class="form-holder floating">
            <input id="password" nbInput fullWidth type="password" [placeholder]="'COMMON.PLACEHOLDER.NEW_PASSWORD' | translate" formControlName="password" [ngClass]="{ 'status-danger': submitted && UF.password.errors }" />
            <label for="password" [attr.data-content]="'COMMON.LABEL.NEW_PASSWORD' | translate"></label>

            <div *ngIf="submitted && UF.password.errors as err" class="invalid-feedback">
                <span *ngIf="err.required">{{ 'COMMON.VALIDATIONS.NEW_PASSWORD_IS_REQUIRED' | translate }}</span>
                <span *ngIf="err.minlength">{{ 'COMMON.VALIDATIONS.NEW_PASSWORD_MIN_LENGTH' | translate: { minPasswordLength: err.minlength.requiredLength } }}</span>
            </div>
        </div>
    </div>
    <div class="form-inner-container two-col">
        <div class="form-holder floating">
            <input id="newpassword" nbInput fullWidth type="password" [placeholder]="'COMMON.PLACEHOLDER.CONFIRM_PASSWORD' | translate" formControlName="newpassword" [ngClass]="{ 'status-danger': submitted && UF.newpassword.errors }" />
            <label for="newpassword" [attr.data-content]="'COMMON.LABEL.CONFIRM_PASSWORD' | translate"></label>
            <div *ngIf="submitted && passwordDoNotMatch && !UF.newpassword.errors" class="invalid-feedback">
                <span>{{ 'COMMON.VALIDATIONS.CONFIRM_PASSWORD_DOES_NOT_MATCH' | translate }}</span>
            </div>
            <div *ngIf="submitted && UF.newpassword.errors as err" class="invalid-feedback">
                <span *ngIf="err.required">{{ 'COMMON.VALIDATIONS.CONFIRM_PASSWORD_IS_REQUIRED' | translate }}</span>
                <span *ngIf="err.minlength">{{ 'COMMON.VALIDATIONS.CONFIRM_PASSWORD_MIN_LENGTH' | translate: { minPasswordLength: err.minlength.requiredLength } }}</span>
            </div>
        </div>
    </div>

    <div class="action-holder">
        <button nbButton hero status="primary">{{ 'COMMON.BUTTON.CHANGE_PASSWORD' | translate }}</button>
    </div>
</form>
