<div>
    <div class="page-title">
        <div class="title-holder">
            <h4>{{ 'MANAGE_PROJECTS.PROJECT.TITLE.ALL_PROJECTS' | translate }}</h4>
            <div class="actions"></div>
        </div>
        <div *ngIf="canAddProject" class="actions">
            <button nbButton hero status="primary" size="small" (click)="addNewProjectModal()"><nb-icon icon="plus-circle-outline"></nb-icon>{{ 'MANAGE_PROJECTS.PROJECT.BUTTON.ADD_PROJECT' | translate }}</button>
        </div>
    </div>
    <nb-card class="medium-card-width">
        <nb-card-body>
            <app-filter-bar [totalRecords]="totalRecords" [paginateId]="'table_paginate_id'" [dataFound]="dataFound" [filterLabel]="'MANAGE_PROJECTS.PROJECT.LABEL.SHOW_ACTIVE_UNIT'" (toggleTableEmit)="toggleTable()" (pageChanged)="pageChange($event)" (searchValue)="onSearch($event)"></app-filter-bar>

            <table *ngIf="dataFound" [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="utilsService.updateSort($event)">
                <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="columns"></tr>
                <tr [clickToToggle]="false" nbTreeGridRow *nbTreeGridRowDef="let row; columns: columns"></tr>
                <ng-container
                    *ngFor="
                        let column of columns
                            | paginate
                                : {
                                      id: 'table_paginate_id',
                                      itemsPerPage: resultperpage,
                                      currentPage: page,
                                      totalItems: totalRecords
                                  };
                        let index = index
                    "
                    [nbTreeGridColumnDef]="column"
                    [showOn]="utilsService.getShowOn(index)"
                >
                    <ng-container [ngSwitch]="column">
                        <ng-container *ngSwitchDefault>
                            <th nbTreeGridHeaderCell [nbSortHeader]="utilsService.getSortDirection(column)" *nbTreeGridHeaderCellDef>
                                {{ columnsName[index] }}
                            </th>
                        </ng-container>
                    </ng-container>
                    <td nbTreeGridCell *nbTreeGridCellDef="let row">
                        <nb-tree-grid-row-toggle [expanded]="row.expanded" *ngIf="column === 'name' && row.children && row.children.length"> </nb-tree-grid-row-toggle>
                        <div [ngSwitch]="column">
                            <div class="table-col" *ngSwitchCase="'createdAt'">
                                {{ row.data[column] | date: 'yyyy-MM-dd' }}
                            </div>
                            <div class="table-col" *ngSwitchCase="'updatedAt'">
                                {{ row.data[column] | date: 'yyyy-MM-dd' }}
                            </div>
                            <div class="table-col" *ngSwitchCase="'purpose'">
                                <ng-container *ngIf="!row.data['subrow'] && row.data['purpose']; else default">
                                    <span>
                                        {{ row.data[column].text }}
                                    </span>
                                    <span [nbTooltip]="'MANAGE_PROJECTS.TOOLTIP.VIEW_DOC' | translate">
                                        <a class="docs" (click)="openDocs(row.data[column]?.docURL)">
                                            {{ row.data[column]?.docName }}
                                        </a>
                                    </span>
                                </ng-container>
                                <ng-template #default>
                                    <span *ngIf="!row.data['subrow']">{{ row.data[column] || '-' }}</span>
                                    <span *ngIf="row.data['subrow']">{{ row.data[column] || '' }}</span>
                                </ng-template>
                            </div>
                            <div class="table-col" *ngSwitchCase="'action'">
                                <button nbSuffix nbButton ghost *ngIf="!row.data['subrow'] && canViewProjectDetails && (isAIEng || isCompanyAdmin)" (click)="viewProjectDetails(row.data[column])">
                                    <nb-icon [nbTooltip]="'COMMON.TOOLTIP.VIEW' | translate" icon="eye-outline" pack="eva"> </nb-icon>
                                </button>

                                <button *ngIf="!row.data['subrow'] && canAddVersion && (isAIEng || isCompanyAdmin)" (click)="addNewProjectVersion(row.data[column])" nbSuffix nbButton ghost>
                                    <nb-icon [nbTooltip]="'MANAGE_PROJECTS.TOOLTIP.ADD_VERSION' | translate" icon="plus-outline" pack="eva"> </nb-icon>
                                </button>

                                <button *ngIf="!row.data['subrow'] && canUpdateProject" nbSuffix nbButton ghost (click)="openProjectEditModal(row.data[column])">
                                    <nb-icon [nbTooltip]="'COMMON.TOOLTIP.EDIT' | translate" icon="edit-outline" pack="eva"> </nb-icon>
                                </button>

                                <button nbSuffix nbButton ghost *ngIf="row.data['subrow'] && (isCompanyAdmin || isAIEng)" nbContextMenuTag="versionMenu" [nbContextMenu]="menuItems" nbContextMenuTrigger="click" (click)="openMenu(row.data['action'])">
                                    <nb-icon icon="more-vertical-outline"></nb-icon>
                                </button>

                                <button nbSuffix nbButton ghost *ngIf="!row.data['subrow'] && (isMLOpsEng || isStakeHolder)" nbContextMenuTag="versionMenu" [nbContextMenu]="menuItems" nbContextMenuTrigger="click" (click)="openMenu(row.data['action'])">
                                    <nb-icon icon="more-vertical-outline"></nb-icon>
                                </button>
                            </div>

                            <div *ngSwitchDefault>
                                <ng-container *ngIf="!row.data['subrow']">{{ row.data[column] || '-' }}</ng-container>
                                <ng-container *ngIf="row.data['subrow']">{{ row.data[column] || '' }}</ng-container>
                            </div>
                        </div>
                    </td>
                </ng-container>
            </table>
            <div *ngIf="!dataFound && loading && !loadingTable">
                <app-loader></app-loader>
            </div>
            <div *ngIf="!dataFound && !loading">
                <app-data-not-found></app-data-not-found>
            </div>
        </nb-card-body>
    </nb-card>
</div>
